@use 'variables' as v;
@use 'mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    // overflow: hidden;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    position: relative;
    // height: auto;
    // overflow-x: hidden
}

.body__gracias {
    height: 100vh;
}

h1, h2, h3, h4, a, p, span {
    font-weight: 50;
}

#cod_pais_style {
    visibility: hidden;
}

.global__container {
    background: 25%/cover no-repeat url(../img/bg_enfermeria.webp);
    min-height: auto;
    @include m.desktop_1020 {
        display: grid;
        grid-template-columns: 60% 40%;
    }
    @include m.desktop_1280 {
        // margin-top: 1.5rem;
        background: 5%/cover no-repeat url(../img/bg_enfermeria.webp);
    }
    @include m.desktop_1440 {
        // margin-top: 4rem;  
        // padding: 5rem 0;
        grid-template-columns: 58% 42%;
    }
    @include m.desktop_1920 {
    }
    @include m.desktop_2048 {
        // min-height: 110rem;
        // padding-top: 13rem;
    }
    @include m.desktop_2240 {
        min-height: 116rem;
        // padding-top: 19rem;
    }
    @include m.desktop_2560 {
        margin-top: 13rem;
        // min-height: 135rem;
    }
}

.global__left {
    @include m.desktop_1080 {
        margin-right: 5rem;    
    }
    @include m.desktop_1280 {
        margin-right: 14rem; 
    }
    @include m.desktop_1360 {
        margin-right: 16rem;
    }
    @include m.desktop_1440 {
        margin-right: 19rem;
    }
    @include m.desktop_1520 {
        margin-right: 22rem;
    }
    @include m.desktop_1620 {
        margin-right: 26rem;
    }
    @include m.desktop_1720 {
        margin-right: 30rem;    
    }
    @include m.desktop_1820 {
        margin-right: 35rem;
    }
    @include m.desktop_1920 {
        margin-right: 27rem;
    }
    @include m.desktop_2240 {
        margin-right: 40rem;
    }
    @include m.desktop_2560 {
        margin-right: 53rem;
    }
}

.global__top {
    background-color: green;
    height:10rem;
    grid-column: 1 / 3;
}

@keyframes palpito {
    from {
        transform: none;
    }
    50% {
        transform: scale(1.05);
    }
    to {
        transform: none;
    }
}