@use 'base/variables' as v;
@use 'base/mixins' as m;

.bloque4__grid {
    // background-color: green;
    height: 7rem;
    width: 100%;
    display: grid;
    grid-template-columns: 9rem .1rem 16.9rem;
    grid-template-rows: repeat(2, 1fr);
    @include m.tablet_820 {
        height: 10rem;
        grid-template-columns: 13rem .1rem 21.9rem;
    }
    @include m.desktop_1920 {
        height: 13rem;
        grid-template-columns: 16rem .2rem 26.8rem;
    }
}